<style type="text/css">
body {
  font-family:'Proxima Nova', 'Helvetica Neue';
}

#map {
  position:absolute;
  left:0;
  top:0;
  bottom:0;
  right:300px;
}

#list {
  position:absolute;
  width:300px;
  overflow:scroll;
  top:0;
  bottom:0;
  right:0;
}

.event {
  background:#eee;
  border-top:1px solid #ddd;
  border-bottom:1px solid #fff;
  padding:20px;
}

.event .btn {
  background:#019875;
  color:#fff;
  font-size:14px;
  text-decoration:none;
  padding:5px 10px;
  border:0;
}

.event h2 {
  font-size:18px;
  margin:0;
  padding-bottom:10px;
  border-bottom:1px solid #ddd;
  text-transform:uppercase;
}

.event p {
  font-size:14px;
}

#search {
  width:100%;
  border:0;
  padding:6px;
  font-size:16px;
  border-bottom:1px solid #ddd;
}

a {
  text-decoration:none;
  color:#444;
}
</style>

<div id="map"></div>

<div id='list'>

  {{view Ember.TextField elementId='search' valueBinding="searchedToken"}}
  {{#each controller.filteredContent}}
    <div class='event'>
      <h2><a target="_blank" {{bindAttr href="this.url"}}>{{this.title}}</a></h2>
      <p>
        {{this.address}}<br/><br/>
      </p>

      <button class='btn' {{action "showEvent" this.id on="click"}}>See on map</a>
    </div> 
  {{/each}}
</div>
